#warning-box {
  width: 90%;
  height: auto;
  background-color: black;
  border: 6px solid $green-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
#head-warning {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  border-bottom: 2px solid rgba(255, 255, 255, 0.795);
  h1 {
    color: rgba(255, 255, 255, 0.795);
    font-family: $roboto;
    font-size: 40px;
    margin-top: 16px;
    margin-bottom: 0;
    margin-left: 30px;
    margin-right: 30px;
  }
}
#paragraph-warning {
  width: 95%;
  height: auto;
}
#normal-war-text {
  font-family: $roboto;
  color: rgba(255, 255, 255, 0.774);
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  span {
    font-weight: 600;
  }
}
#res-war-text {
  font-family: $roboto;
  color: rgba(255, 255, 255, 0.925);
  font-size: 15px;
  text-align: center;
  line-height: 30px;
  display: none;
  span {
    padding-right: 2px;
    padding-left: 2px;
    background-color: $red;
  }
}
#user-data-warning {
  width: 95%;
  height: auto;
  p {
    font-size: 15px;
    font-family: $roboto;
    color: $yellow;
    text-align: center;
    font-weight: 600;
    margin-top: 0;
    line-height: 30px;
    span {
      background-color: $red;
      padding-left: 2px;
      padding-right: 2px;
      color: rgba(255, 255, 255, 0.863);
    }
  }
}
#blue-quote {
  width: auto;
  height: auto;
  p {
    font-size: 19px;
    font-family: $roboto;
    color: $link-blue;
    font-weight: 600;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    span {
      font-weight: 500;
      font-size: 18px;
    }
  }
}
#fast-vpn-btn {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  #btn-maker {
    width: auto;
    height: 35px;
    background-color: $btn-green;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    #download-img {
      width: 36px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 50%;
      }
    }
    p {
      color: rgba(255, 255, 255, 0.822);
      font-family: $roboto;
      font-weight: 600;
      font-size: 16px;
      margin: 0;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
#btn-text {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#res-btn-text {
  display: none;
}
@media (max-width: 1000px) {
  #normal-war-text {
    display: none;
  }
  #user-data-warning {
    display: none;
  }
  #blue-quote {
    display: none;
  }
  #res-war-text {
    display: block;
  }
  #head-warning {
    h1 {
      span {
        display: none;
      }
    }
  }
  #warning-box {
    width: 90%;
    margin: auto;
  }
  #normal-btn-text {
    display: none;
  }
  #res-btn-text {
    display: block;
  }
}
